CSharpRag/CSharpRagApp.Tests/obj/Debug/net10.0/CSharpRagApp.Tests.AssemblyInfoInputs.cache
/CSharpRag/CSharpRagApp/obj/Debug/net8.0/CSharpRagApp.AssemblyInfo.cs
/CSharpRag/CSharpRagApp.Tests/obj/Debug/net10.0/CSharpRagApp.Tests.AssemblyInfo.cs
/CSharpRag/CSharpRagApp.Tests/obj/Debug/net10.0/CSharpRagApp.Tests.AssemblyInfoInputs.cache
CSharpRag/CSharpRagApp/obj/Debug/net8.0/CSharpRagApp.AssemblyInfoInputs.cache
CSharpRag/CSharpRagApp/obj/Debug/net8.0/CSharpRagApp.AssemblyInfoInputs.cache
CSharpRag/CSharpRagApp.Tests/obj/project.nuget.cache
/CSharpRag/CSharpRagApp/obj/Debug/net8.0/CSharpRagApp.AssemblyInfoInputs.cache
/CSharpRag/CSharpRagApp.Tests/obj/project.nuget.cache
/CSharpRag/.vs/CSharpRagApp/FileContentIndex/34a7fc87-da57-4861-affe-1ecc9fbe25bd.vsidx
